h1
{
    font-size: 40px;
    color: #054752;

}
.container
{
    text-align: center;
}
button
{
    background:#00aff5;
    border:0;
    border-radius: 45px;
}
input , select
{
    border-radius: 15px;
    height: 3em;
    font-size: larger;
}
.editBtn{
    width: 30em;
border-radius: 1px;
    background: none;
    border: 0;
}
.editBtn:hover{

    background: gray;
    border: 0;
}
textarea
{
    height: 15em;
    border-radius: 15px;
    border-width: 3px;
    
}
textarea:hover{border-color: #00aff5;}