<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex">
    <div class="container">
        <div class="nav-left">
            <a class="navbar-brand" href="/">
                <img src="assets/Images/carLogo.svg" alt="" width="200" class="d-inline-block align-text-top">
                
            </a>
        </div>
        <div class="nav-right d-flex fs-5">
            <a class="d-flex align-items-center mx-2 px-2 nav-link main-color " [routerLink]="['/search']">
                <i class="bi bi-search"></i>
                <span class="px-2">Search</span></a>
            <a class="d-flex align-items-center mx-2 px-2 nav-link main-color " title="" [routerLink]="['/offer-seats']">
                <i class="bi bi-plus-circle"></i>
                <span class="px-2">Publish a ride</span>
            </a>
            <div class="avatar ms-3">
                <div class="profile" (click)="menuToggle()">
                    
                    <span class="">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ifAKCX cqcJrU" width="24" height="24" aria-hidden="true"><polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6" transform="rotate(90 12 12)"></polyline></svg>
                    </span>
                    <img src="assets/Images/avatar.svg" alt="">
                </div>
                
                <div class="menu">
                    <ul>
                        <li><a class="nav-link" [routerLink]="['/login']">Login</a></li>
                        <li><a class="nav-link" [routerLink]="['/sign-up']">Sign up</a></li>
                        <li><a class="nav-link"[routerLink]="['/profile']"> <i class=" text-muted bi bi-person-circle"></i> Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--End Navbar -->