<footer class="footer-container row p-5 justify-content-center w-100 align-items-start " >
    <!-- the first column -->
    <div class="col-10 col-md-2 d-flex flex-column ">
        <a href="#" class="my-1 text-decoration-none footerLinks">How it works</a>
        <a href="#" class="my-1 text-decoration-none footerLinks">About us</a>
    </div>
    <!-- the second column -->
    <div class="col-10 col-md-2 d-flex flex-column ">
        <a href="#" class="my-1 text-decoration-none footerLinks">Help Center</a>
        <a href="#" class="my-1 text-decoration-none footerLinks">Contact</a>
        <a href="#" class="my-1 text-decoration-none footerLinks">Terms and conditions</a>
        <a href="#" class="my-1 text-decoration-none footerLinks">Press</a>
    </div>
    <!-- the third column -->
    <div class="col-10 col-md-2 d-flex flex-column ">
    <a href="#" class="my-1 text-decoration-none footerLinks">We are Hiring!</a>
    <a href="#" class="my-1 text-decoration-none footerLinks">Cookie setting</a>
     </div>
     <!-- the forth column -->
     <div class="col-10 col-md-2">
         <label for="dropDown" class="footerLinks my-2">Language</label>
         <select id="dropDown" placeholder="Language"class="form-control">
             <option>English</option>
             <option>Arabic</option>
         </select>
         <!-- social media links -->
         <div class="d-flex justify-content-center align-items-center">
         <a href="#"><i class="fs-2 m-2 bi bi-facebook"></i></a>
         <a href="#"><i class="fs-2 m-2 bi bi-twitter"></i></a>
         <a href="#"><i class="fs-2 m-2 bi bi-youtube"></i></a>
         <a href="#"><i class="fs-2 m-2 bi bi-instagram"></i></a>
         </div>
       
        
     </div>
     <!-- copyrights -->
 <div class="row d-felx justify-content-around my-2 copywriteFont">
    <div class="col-10 col-md-2 " >Tawsela,2021©</div>
    <div class="col-10 col-md-3 " >Additional insurance does not replace driver's mandatory car insurance. Conditions apply.</div>

</div>
      
</footer>
 
 <!-- the second row -->
 <section class="row lowerFooter justify-content-center align-items-center w-100">
<div class="text-center p-2 copywriteFont">Tawsela is the leading carpooling app in the world. Forget going into the city to get out of town. We connect people together, making it possible to travel literally anywhere, directly.</div>

 </section>