.footer-container{
    background-color:  #ededed;
    margin: 0px;
}
.footerLinks{
font-weight: bolder;
color:#054752;
}
.lowerFooter{ 
    background-color:  #dddddd;
    margin: 0px;
}
.copywriteFont{ font-size:12px;}