section {
  font-family: Arial, Helvetica, sans-serif;
  margin: 75px auto 230px;
  @media (min-width: 1200px) {
    width: 50%;
  }
  .register-option {
    h1 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: 600;
      color: #054752;
      @media (max-width: 768px) {
        font-size: 30px;
      }
      @media (max-width: 480px) {
        font-size: 25px;
      }
    }
    hr {
      background-color: rgb(182, 177, 202);
    }
    .choice {
      cursor: pointer;
      padding: 20px;
      text-decoration: none;
      &:hover {
        background-color: #ededed;
      }
      .opt {
        font-size: 18px;
        line-height: 20px;
        color: #054752;
        font-weight: bold;
        @media (max-width: 668px) {
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: 668px) {
          justify-content: center;
        }
        .bi-facebook {
          color: #1877f2;
          margin-right: 15px;
        }
        .bi-chevron-right {
          color: #054752;
          font-weight: bold;
        }
      }
    }
    .login-choice {
      color: #054752;
      font-weight: bold;
      padding: 0 15px;
      margin-top: 15px;
      span {
        color: #00aff5;
        cursor: pointer;
      }
    }
  }
}
