<section>
  <div class="container">
    <div class="register-option">
      <h1>How would you like to be<br>addressed?</h1>
      <label class="radio-inline choice row">
        <div class="opt col-lg-8">
          Mrs./Ms.
        </div>
        <div class="icons col-lg-4">
          <input type="radio" name="gender" value="mrs" style="opacity: 0;">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </label>
      <hr>
      <label class="radio-inline choice row">
        <div class="opt col-lg-8" style="float: left;">
          Mr.
        </div>
        <div class="icons col-lg-4">
          <input type="radio" name="gender" value="ms" style="opacity: 0;">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-chevron-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </label>
    </div>
  </div>
</section>
