.container-fluid{ height: 25em; background-color: #054752;}
.carousel{
    height: 20em;
  }
  .carousel-inner{
    height: 20em;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
    margin-top:5em ;
  }
