<div class="container-fluid">
  <div class="row">
    <div class="col-5">
        <img src="assets/Images/group-of-men.svg" style="width: 25em; margin-left: 10em; ">
    </div>
    <div class="col-7">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption ">
              <h4>
                5 years of using Tawsela, dozens of journeys, as many meetings
                and exchanges, not a single disappointment. THANK YOU!
              </h4>
              <br>
              <h6>Daniel</h6>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <h4>
                The benefit is always mutual, it only takes one passenger to
                turn a simple ride into an unexpected journey.
              </h4>
              <br>

              <h6>Zack</h6>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
              <h4>
                More than 400€ paid into my account thanks to Tawsela, even
                though I've only been using it for a few months... There's no
                denying how good their app is!
              </h4>
              <br>

              <h6>Yaqout</h6>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
