<div class="container-fluid alignDiv bg-light">
  <div class="row mx-5 mt-5" style="margin-left: 15em">
    <div class="row mt-4">
      <h3 class="fw-bold">The best of carpooling with Tawsela</h3>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <img
          src="assets/Images/mssge.svg"
          style="width: 3em; margin-bottom: 1em"
        />
        <h5 class="fw-bold">At your service 24/7</h5>
        <h6>
          Our team is at your disposal to answer any questions by email or
          social media. You can also have a live chat directly with experienced
          members.
        </h6>
      </div>
      <div class="col-4">
        <img
          src="assets/Images/car2.svg"
          style="width: 3em; margin-bottom: 1em"
        />
        <h5 class="fw-bold">Tawsela at your side</h5>
        <h6>
          For just 2 €, benefit from the reimbursement of up to 1,500€ of your
          excess when you publish a ride as a driver on Tawsela.
        </h6>
      </div>
      <div class="col-4">
        <img
          src="assets/Images/shield2.svg"
          style="width: 3em; color: #00aff5; margin-bottom: 1em"
        />
        <h5 class="fw-bold">100% secure information</h5>
        <h6>
          Our team is dedicated to the protection of your data, which is always
          100% confidential thanks to monitoring tools, secure navigation and
          encrypted data.
        </h6>
      </div>
    </div>
  </div>
</div>
