  <div class="row mx-auto mt-2 ">
    <div class="row mt-4 mx-auto">
      <h3 class="fw-bold">Publish your ride in just minutes</h3>
    </div>
    <div class="row mt-3">
      <div class="col-lg-5 col-xs-12 mx-auto " style="margin-left: 10em">
        <video width="450em" height="300em" muted controls   >
          <source src="assets/video/en_GB.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="row my-3">
          <h5>Create a Tawsela account</h5>
          <h6>
            Add your profile picture, a few words about you and your phone
            number to increase trust between members.
          </h6>
        </div>
        <div class="row my-3">
          <h5>Publish your ride</h5>
          <h6>
            Indicate departure and arrival points, the date of the ride and
            check our recommended price to increase your chances of getting your
            first passengers and ratings.
          </h6>
        </div>
        <div class="row my-3">
          <h5>Accept booking requests</h5>
          <h6>
            Review passenger profiles and accept their requests to ride with
            you. That’s how easy it is to start saving on travel costs!
          </h6>
        </div>
      </div>
    </div>
  </div>
