<!-- Start Form Section -->

<div class="hero-container">
    <div class="hero">
        <div class="head-form-container">
            <h1 class="hero-head">Your ride. Your choice.</h1>
            <div class="form-container">
                <form class="form" action="">
                    <!-- <div class="kirk-searchForm-from-container">
                        <div class="kirk-searchForm-from">
                            <div transform="[object Object]" class="sc-bmyXtO jhmaoZ">
                                <button type="button" class="kirk-search-button">
                                    <span class="kirk-bullet--searchForm">
                                        <div class="sc-dnqmqq fzalHo kirk-bullet kirk-bullet--search"
                                            aria-hidden="true">

                                        </div>
                                    </span>
                                    <span
                                        class="sc-iwsKbI sc-VigVT gmHvlW kirk-search-ellipsis kirk-search-placeholder kirk-search-ellipsis kirk-search-placeholder">Leaving
                                        from...</span>
                                </button>
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</div>