<div class="container-fluid alignDiv">
  <div class="row mx-5 mt-5" style="margin-left: 15em">
    <div class="row mt-4">
      <h3 class="fw-bold">
        Everything you need as a driver, in our Help Centre
      </h3>
    </div>
    <div class="row mt-3">
      <div class="col-5 mx-5">
        <div class="row py-3">
          <h5>How do I set the passenger contribution for my ride?</h5>
          <h6>
            We recommend a contribution per passenger on your rides. These
            suggestions help you set fair contributions for your rides (those
            most likely to get your seats filled!), but can still be adjusted
            within a margin of our recommendation.
          </h6>
          <h6>
            We help you with the price to make it easy to share your costs, but
            also to prevent people from profiting from carpooling.
          </h6>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-primary w-25 mb-3">
              Read more
            </button>
          </div>
          <hr />
        </div>

        <div class="row">
          <h5>When do I get my money?</h5>
          <h6>
            We send your money 48 hours after the ride if you travelled as
            planned. You’ll get your money 1 to 5 weekdays (not counting
            weekends and holidays) after we send it.
          </h6>
          <h6>
            If you don’t see any money in Awaiting transfers, it’s because we
            already sent it. You can check out what we’ve sent in your Transfer
            history.
          </h6>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button type="button" class="btn btn-outline-primary w-25">
              Read more
            </button>
          </div>
          <hr />
        </div>
      </div>

      <div class="col-5 mx-5">
        <div class="row py-3">
          <h5>What should I do if there’s an error with my ride?</h5>
          <h6>
            What should I do if there’s an error with my ride? You should edit
            your ride as soon as you spot the error. If you can’t edit your ride
            because passengers have already booked, contact them explaining the
            mistake. If the changes don’t suit them, you should cancel your ride
            and publish a new one.
          </h6>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button type="button" class="btn btn-outline-primary w-25">
              Read more
            </button>
          </div>
          <hr />
        </div>
        <div class="row">
          <h5>How do I cancel a carpool ride as a driver of a ride?</h5>
          <h6>
            It only takes a minute to cancel a listed ride. However, if a driver
            cannot fulfill a ride that has been already booked, it is their
            responsibility to cancel in a timely manner to allow the passenger
            time to adjust their plans. Before cancelling we advise drivers to
            let passengers know by message that they cannot travel anymore.
          </h6>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button type="button" class="btn btn-outline-primary w-25">
              Read more
            </button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
