  <!--Header-->
  <div class="row" style="background-color: #adecfe">
    <div class="row my-5">
      <h1 class="fw-bolder" style="text-align: center">
        Become a Tawsela driver and save on travel costs by<br />sharing your
        ride with passengers.
      </h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6 mb-5 bg-white formStyle mx-auto ">
        <form class="form-floating">
          <div class="my-2 form-floating">
            <input
              type="text"
              class="form-control"
              id="leaveFrom"
              placeholder="name@example.com"
            />
            <label for="leaveFrom">Leaving from</label>
          </div>
          <div class="my-2 form-floating">
            <input
              type="text"
              class="form-control"
              id="leaveTo"
              placeholder="name@example.com"
            />
            <label for="leaveFrom">Going to</label>
          </div>
          <div class="my-2 from-floating">
            <label for="customRange2" class="form-label">Passengers</label>
            <input
              type="range"
              class="form-range"
              min="0"
              max="5"
              id="customRange2"
            />
          </div>
          <div class="my-2 mx-3 form-floating">
            <h2>
              Save up to <span style="color: #00aff5">£208</span> on your first
              ride.
            </h2>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/publishForm']">
              Publish a ride
            </button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 d-none d-lg-block d-xs-none">
        <img src="assets/Images/car.svg" />
      </div>
    </div>
  </div>
